*{
    margin: 0;
    padding: 0;
}

html{

    font-size:62.5%;
}

/*Estos son los estilos del header y footer*/

header{
    height: 8rem;
    background-color: #192537;
    
}
.nav{
    height: 7rem;
    float: right;
    padding-right: 3%;  
}

.nav_ul{
 
    margin-top: 3.5rem;
  
}

.nav_ul-li{
    
    padding: 0.5rem;
    height: 7rem;
    display: inline;
    font-size: 1.6rem;
    
}

.div_logo{
    display: inline;
    float: left;
    height: 7rem;
}
.nav_ul-li a{
    
    color: white;
    text-decoration: none;
    font-family: 'Castoro', serif;
    
}

.nav_ul-li a:hover{
    
    color: #A19C10;
    
    
}

footer{
    background-color: #A19C10;
    padding: 0.5rem 0 0.5rem 2rem;
    color: white;
    text-align: center;
}

.index_6-div{
    display: inline-block;
    padding: 6rem;
    padding-top: 3rem;
}

.index_6{
    background-color: #192537;
    
}
.index_6-div a{
    color: white;
    font-family: 'Castoro', serif;
    text-decoration: none;
    font-size: 1.6rem;
}

.index_6-div a:hover{
    color:  #A19C10;
}

.index_6-div h4{
    font-family: 'Castoro', serif;
    color: #A19C10;
    font-size: 2rem;
}

.index_6-div ul{
    padding: 1rem 0;
}


/*Este aplica en todos*/
h1, h3{
    font-family: 'Playfair Display SC', serif;
    color: #A19C10;
    letter-spacing: 1rem;
    font-size: 3rem;
}

 h2{
    font-family: 'Playfair Display SC', serif;
    color: #192537;
    font-size: 2rem;
 }

 p,li{
    font-family: 'Gothic A1', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    font-size: 1.6rem;
}

label{
    font-size: 1.6rem;
}

/**/


/*Aquí empieza Home*/

.index_1{
    background: url(https://images.unsplash.com/photo-1499781350541-7783f6c6a0c8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1115&q=80) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 60rem;
    
}


 .index_2 h1{
     text-align: center;
     color: white;
     font-size: 3rem;
 }
 .index_2{
     background-color: #7c848c;
     padding: 5% 0;
 }


.form{
    display: inline-block;
    background-color: wheat;  
}


 #primer_Parrafo{
     font-size: 2rem;
     padding-top: 15%;
     line-height: 1.7;
     
 }

 .index_3{
    height: 70rem;
    
 }

 .index_3-p{
     float: left;
     padding-right: 50rem;
     padding-top: 10%;
     padding-left: 10%;
 }

 #index_3-p-column{
     float: right;
     margin-top: -50rem;
     padding-right: 12rem;   
     vertical-align: middle;
 }

 #pintura1{
    width: 30rem;
    height: 30rem;
    display: table-column;
    padding-bottom: 2rem;
    
 }

 #pintura2{

    width: 30rem;
    height: 30rem;
    display: table-column;
    
 }

 
 article{
     float: left;
     width: 80%;
  
    
 }

 aside{
     background-color: wheat;
     display: block;
     float: right;
     width: 20%;
     height: 70rem;
     
 }



.index_4{
    
    background-color: #192537;
    font-size: 1.6rem;
}

#advertising_Title{
    text-align: right;
    padding:5% 20% 5% 0%;
    
}

#pintura3{
    margin-top: -40rem;
    padding-left: 10rem;
    margin-bottom: -0.5rem;
    
}



.index_5 li{
   
    padding: 1% 0;
    text-align: center;
    
}


.index_5-li-afuera{
    list-style-position: outside;
}

.index_5-li-dentro{
    list-style-position: inside;
}


.li_table{
    text-decoration: none;
}


/*Acá es el We*/

.we_1{
    background: url(https://images.unsplash.com/photo-1526304760382-3591d3840148?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80) no-repeat center center;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 60rem;
    text-align: center;
    
}

/*Acá es el Our Art*/


/*Acá es el Whole Gallery*/

.video_section{
    display: flex;
    justify-content: center;
}

.table{
    display: flex;
    justify-content: center;
    text-align: center;
}

.souvenirs{
    text-align: center;
}

/*Acá es el Contact Us*/

