.video_section{
    display: flex;
    justify-content: center;
}

iframe{
    width: 100vw;
}



.souvenirs{
    text-align: center;
    background-color:var(--secondary-color);
    padding: 5rem 0;
    
}

table{
    width: 100vw;
    text-align: center;
    border: 1px black solid;
    
}


.table_souvenirs th{
    font-family: 'Playfair Display SC', serif;
    font-size: 3rem;
    color: #192537;
    border-bottom: #192537 solid 1px;
}

.table_souvenirs td{
    padding: 3rem;
    font-size: 2.5rem;
    font-family: 'Gothic A1', sans-serif;
    border-bottom: #192537 solid 1px;
}

.img{
    width: 8rem;
    height: 8rem;
    transform: scale(2,2);
    margin: 4rem;
}

.table_responsive{
    display: none;
}